- name: Create Nexus data directory
  file:
    path: "{{ NEXUS_HOME }}"
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"

- name: Pull Nexus artifactory Docker image
  docker_image:
    name: "{{ NEXUS_IMAGE }}"
    source: pull

- name: Run Nexus artifactory container
  docker_container:
    name: nexus
    image: "{{ NEXUS_IMAGE }}"
    state: started
    restart_policy: unless-stopped
    published_ports:
      - "{{ NEXUS_PORT }}:8081"
    volumes:
      - "{{ NEXUS_HOME }}:/nexus-data"
    env:
      INSTALL4J_ADD_VM_PARAMS: "-Xms1200m -Xmx1200m -XX:MaxDirectMemorySize=2g"
