- name: Create sonarqube data directory
  file:
    path: "{{ sonarqube_data }}"
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"
- name: Create sonarqube logs directory
  file:
    path: "{{ sonarqube_logs }}"
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"
- name: Create sonarqube extensions directory
  file:
    path: "{{ sonarqube_extensions }}"
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"

- name: Pull sonarqube Docker image
  docker_image:
    name: "{{ sonarqube_image }}"
    source: pull

- name: Run sonarqube container
  docker_container:
    name: sonarqube
    image: "{{ sonarqube_image }}"
    state: started
    restart_policy: unless-stopped
    published_ports:
      - "{{ sonarqube_port }}:9000"
    volumes:
      - "{{ sonarqube_data }}:/opt/sonarqube/data"
      - "{{ sonarqube_logs }}:/opt/sonarqube/logs"
      - "{{ sonarqube_extensions }}:/opt/sonarqube/extensions"
