- name: Ensure .ssh directory exists for ubuntu user
  file:
    path: /home/ubuntu/.ssh
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: "0700"

- name: Copy PEM key to bastion
  copy:
    src: /Users/poojanshah/Downloads/Main-AWS.pem
    dest: /home/ubuntu/Main-AWS.pem
    owner: ubuntu
    group: ubuntu
    mode: "0600"
